.viewer {
  display: flex;
  
  box-sizing: border-box;
  flex-direction: column;

  position:fixed;

  border-radius: 0.5rem;
    
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.title-bar {
  position: relative;  
    
  height: 3rem;
  
  user-select: none;
  padding: 0.75rem;  
  
  justify-content: center; 
    
  white-space: nowrap;      /* 줄바꿈 금지 */
  overflow: hidden;         /* 넘치는 부분 숨김 */
  text-overflow: clip;      /* 그냥 잘라냄 */
}

#content_area {
  display: flex;

  flex-direction: column;  
  flex: 1;

  font-weight: 500;
  
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  pointer-events: auto;

  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
  scroll-padding-bottom: 0;
}

.header-panel {
  user-select: none;
}

.header-panel::before {
  content: "";
  position: absolute;
  inset: 0;

  pointer-events: none;
}

.header-panel hr {
  border: 0.075rem solid #bababa;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
} 

.content-panel {
  color: var(--base_font_color);
  font-size: 1.1rem;

  line-height: 1.75;
  text-align: justify;
  
  overflow-wrap: anywhere;
  user-select: none;
}

.footer-panel {
  width: 100%;
  height: 100%;
  
  text-align: center;
  padding: 0.5rem;
  
  color: #dddddd;
  font-weight: bold;
  margin: auto;
}

#window_button_container {
  display: flex;

  float:right;
  
  top:0;
  bottom:0;
  
  justify-content: space-between;
}

.window_button {
  width:1.5rem;
  height: 1.5rem;

  padding:0.25rem;  
  
  cursor:pointer;
}

.window_button:hover {
  background: rgba(200, 200, 200, 0.25);
  border-radius: 25%;

  border: 0.075rem solid #cccccc;
}