#taskbar {
    display: grid;
    position : relative;

    box-sizing: border-box;

    flex-direction: column;
    grid-template-columns: 6.5rem 1fr 2rem;
    
    max-width: 100%;
    height: 3.25rem;

    top: 0;

    padding-left: 1rem;
    padding-right: 1rem;
    
    align-items: center;
    margin: 0 auto;

    background-image: var(--base_task_bar_background_image);

    border-bottom: var(--base_border_line);
}

#task-items {
    display: flex;
    position: relative;

    width: 100%;

    margin-right: 1rem;
}

.task_bar_item,
.task-bar-group {
    display: flex;
    position: relative;

    max-width: 16rem;
    height: auto;
    
    border-radius: 0.5rem;

    padding: 0.525rem;

    color: #cdcdcd;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin-left: 0.15rem;

    background-color: #444444;
    
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    
    user-select: none;
}

.task-bar-group .task_bar_item {
    width: 95%;

    padding-left: 0.5rem;
    padding-right: 0.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;

    background-color: #222222;
    border-radius: 0%;

    justify-content: space-between;
    margin: 0 auto;

    border: 0px solid #222222;
}

.task-bar-group .task_bar_item .medium_icon {
    width: 0.8rem;
    height: auto;
}

.task-bar-group .task_bar_item .task_item_close {
    width: 1rem;
    height: 1rem;
}

.task-group-items {
    width: 100%;
    position: absolute;

    left: 0;
    top: 100%;

    font-size: 0.8rem;

    visibility: hidden;
}

.task_item_close {
    display: flex;

    padding: 0.25rem;    
    margin-left: 0.5rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 0.25rem;
}

.task_item_close:hover {
    background-color: #777777;
}

.task_bar_item:hover,
.task-bar-group:hover {
    background-color: #555555;
    cursor: pointer;
}

#color-theme {
    width: 2rem;
    height: 2rem;

    background-image: url(/assets/icons/dark-mode-img/light-toggle.png);
    background-size: cover;
    background-position: center;
}

#color-theme:hover {
    cursor: pointer;
}