#taskbar {
    display: flex;
    position : relative;

    max-width: 100%;
    height: 3rem;

    top: 0;

    padding-left: 1rem;
    padding-top: var(--base_margin_size_light);
    padding-bottom: var(--base_margin_size_light);

    align-items:center;
    justify-content: left;
    margin:auto;  

    border-bottom: 0.1rem solid #333333;
}

.task_bar_item,
.task-bar-group {
    display: flex;
    position: relative;

    max-width: 16rem;
    
    border-radius: 0.5rem;
    padding: 0.5rem;

    color: #cdcdcd;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin-left: 0.15rem;

    background-color: #333333;
    
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    
    user-select: none;
}

.task-bar-group .task_bar_item {
    width: 95%;

    padding-left: 0.5rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    background-color: #222222;
    border-radius: 0%;

    justify-content: space-between;
    margin: 0 auto;
}

.task-bar-group .task_bar_item .medium_icon {
    width: 0.8rem;
    height: auto;
}

.task-bar-group .task_bar_item .task_item_close {
    width: 1rem;
    height: 1rem;
}

.task-group-items {
    width: 100%;
    position: absolute;

    left: 0;
    top: 100%;

    font-size: 0.8rem;

    visibility: hidden;
}

.task_item_close {
    display: flex;

    padding: 0.25rem;    
    margin-left: 0.5rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 0.25rem;
}

.task_item_close:hover {
    background-color: #777777;
}

.task_bar_item:hover,
.task-bar-group:hover {
    background-color: #444444;
    cursor: pointer;
}

.task_bar_item:hover {
    background-color: #fcd201;
    color: #222222;
}