#taskbar {
    display: grid;
    grid-template-columns: 6rem 1fr 2rem;
    
    min-height: 3rem;
    box-sizing: border-box;

    padding-left: 1rem;
    padding-right: 1rem;
    
    align-items: stretch;
    line-height: 1;

    background-image: var(--base_task_bar_background_image);
    background-repeat: repeat;
    background-size: 5.35rem;
  
    border-bottom: var(--base_border_line);
}

#task-items {
    display: flex;
    flex-direction: row;

    align-self: center;

    margin-top: 0;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.task_bar_item,
.task-bar-group {
    display: flex;
    position: relative;

    max-width: 15rem;
    height: auto;
    
    border-radius: 0.5rem;

    padding: 0.6rem;

    color: #cdcdcd;
    font-weight: bold;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin-left: 0.1rem;

    background-color: #444444;
    
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    
    user-select: none;
}

.task-bar-group .task_bar_item {
    width: 95%;

    padding-left: 0.5rem;
    padding-right: 0.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;

    background-color: #222222;
    border-radius: 0%;

    justify-content: space-between;
    margin: 0 auto;

    border: 0px solid #222222;
}

.task-bar-group .task_bar_item .medium_icon {
    width: 0.8rem;
    height: auto;
}

.task-bar-group .task_bar_item .task_item_close {
    width: 1rem;
    height: 1rem;
}

.task-group-items {
    width: 100%;
    position: absolute;

    left: 0;
    top: 100%;

    font-size: 0.8rem;

    visibility: hidden;
}

.task_item_close {
    display: flex;

    padding: 0.25rem;    
    margin-left: 0.5rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 0.25rem;
}

.task_item_close:hover {
    background-color: #777777;
    transition: background-color 0.3s;
}

.task_bar_item:hover,
.task-bar-group:hover {
    background-color: #555555;
    transition: background-color 0.3s;

    cursor: pointer;
}

#color-theme {
    width: 2rem;
    height: 2rem;

    align-self: center;

    background-image: url(/assets/icons/dark-mode-img/light-toggle.png);
    background-size: cover;
    background-position: center;

    
}

#logo {
    height: auto;    

    margin-right: 0.75rem;
    align-self: stretch;

    cursor: pointer;
}

#logo:hover {
    animation: hover-blink 1000ms ease-in-out 1;
}

#color-theme:hover {
    margin: 0;
    cursor: pointer;

    animation: hover-blink 700ms ease-in-out 2;
}

@keyframes hover-blink {
  0%   { opacity: 1; }
  30%  { opacity: 0.5; }
  55%  { opacity: 0.8; }
  100% { opacity: 1; }
}
