@import "./common/reset.css";
@import "./common/base.css";

@import "./shell/task-bar-style.css";
@import "./shell/viewer-window-style.css";

@import "./section/about-style.css";
@import "./section/blog-style.css";
@import "./section/photolog-style.css";
@import "./section/links-style.css";

:root {
  --index_layout_column_count : 3;
  --index_layout_column_gap : 1rem;
}

header {  
  position:fixed;
  background-color: var(--base_header_background_color);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--index_layout_column_gap);
  width: 100%;
  border : 0px solid #778899;
  text-align: initial;  
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

footer {
  left : 0;
  right : 0;
  bottom : 0;
  background-color: var(--base_footer_background_color);
  background-image: var(--base_footer_background_image);
  border-top: var(--base_border_line);
}

.content-primary {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 1rem;
  border-bottom: 0px dashed #444444;
  padding-bottom: 0rem;
}

.content-secondary {
  display: grid;
  grid-template-columns:  1fr 1.5fr 20rem;
  gap: 1rem;
}

.section-block {  
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  text-align: justify;
}

#site-copyright {
  display:flex;

  align-items: center;
  
  height: 3rem;
  
  color: var(--base_font_color);
  font-weight: bold;
  
  justify-content: center;
  margin: auto;
}

#site-copyright a {
  text-decoration: none;
}

#site-copyright a:hover {
  color: var(--base_font_color);
}

.title_box {
  display: flex;
  background-color: var(--base_title_bar_background_color);

  border: var(--base_border_line);
  border-radius: var(--base_border_radius_medium);
  
  font-weight: bold;
  color: var(--title_bar_font_color);
  
  margin: auto;
  margin-bottom: var(--base_margin_size_medium);
  padding: var(--base_margin_size_medium);
  
  transition: background-color 0.3s;
  cursor: pointer;
}

.title_box:hover {
  background-color: var(--base_title_bar_background_color_b);
}


#taskbar {
  padding-top: var(--base_margin_size_tiny);
  padding-bottom: var(--base_margin_size_tiny);

  background-image: var(--base_task_bar_background_image);
  
  border-bottom: var(--base_border_line);
}

.task_bar_item,
.task-bar-group {
  color: var(--base_font_color);
  background-color: var(--base_task_item_background_color);
  border: var( --base_border_line);
}

.task-bar-group .task_bar_item {
  background-color: var(--base_task_item_background_color);
}


.task_bar_item:hover,
.task-bar-group:hover {
  background-color: var(--base_task_item_background_color_b);
}


.task_item_close {
  filter: var(--base_close_icon_filter_invert);
}

.task_item_close:hover {
  background-color: var(--base_task_item_close_background_color_b);
}


.title_bar {
  background-image: var(--base_viewer_title_bar_background_image);
}

.footer_panel {
  background-image: var(--base_viewer_footer_background_image);
}

#color-theme {
  background-image: var(--base_dark_light_toggle_button);
}

.header_panel,
.content_panel {
  background-image: var(--base_viewer_background_image);
  backdrop-filter: var(--base_backdrop_filter);
  color: var(--base_font_color);
}

.header_panel hr {
   border: var( --base_hr_border);
   opacity: 0.4;
}