@import "./common/reset.css";
@import "./common/base.css";

@import "../modules/taskbar/taskBar.css";
@import "../modules/viewerWindow/viewerWindow.css";

@import "./section/about-style.css";
@import "./section/blog-style.css";
@import "./section/photolog-style.css";
@import "./section/links-style.css";

:root {
  --index_layout_column_count : 3;
  --index_layout_column_gap : 1rem;
}

header {
  position:fixed;

  background-image: var(--base_task_bar_background_image);
  background-repeat: repeat;
  background-size: 5.35rem;
    
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 99999;
}

main {
  display: flex;
  flex-direction: column;

  gap: var(--index_layout_column_gap);
  
  width: 100%;
  
  text-align: initial;
  padding: 4rem 1rem 1rem 1rem;
  margin: auto;
  
  position: relative; /* pseudo-element 기준 */
  
  border: 0;
  z-index: 0;

  background-image: var(--base_background_image);  
  background-size: var(--base_background_size);
  background-repeat: repeat;
}

footer {
  left : 0;
  right : 0;
  bottom : 0;

  background-image: var(--base_footer_background_image);
  background-repeat: repeat;
  background-size: 5.35rem;

  border-top: var(--base_border_line);
}

#taskbar {
  padding-top: var(--base_margin_size_tiny);
  padding-bottom: var(--base_margin_size_tiny);  
  border-bottom: var(--base_taskbar_border_line);
}

#content-primary {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 1.25rem;
}

#content-secondary {
  display: grid;
  grid-template-columns:  1fr 1.5fr 20rem;
  gap: 1.25rem;
}

.section-block {  
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  text-align: justify;
}

#site-copyright {
  display:flex;

  align-items: center;
  
  height: 3rem;
  
  color: var(--base_font_color);
  font-weight: bold;
  
  justify-content: center;
  margin: auto;
}

#site-copyright a {
  text-decoration: none;
}

#site-copyright a:hover {
  color: var(--base_font_color);
}

.title_box {
  display: flex;
  background: var(--base_section_header_box_background_color);

  border: var(--base_border_line);
  border-radius: var(--base_border_radius_medium);
  
  font-weight: bold;
  color: var(--base_section_header_box_font_color);
  
  margin: auto;
  margin-bottom: var(--base_margin_size_medium);
  padding: var(--base_margin_size_medium);

  justify-content: space-between;
  align-items: center;
    
  transition: background-color 0.3s;
  cursor: pointer;
}

.title_box figure {
  display: flex;
  align-items: center;
  margin: 0; /* 기본 margin 제거 중요 */
}

.title_box:hover {
  background: var(--base_section_header_box_background_color_b);
}

.title-box-more-button {
  font-weight: bold;
  letter-spacing: 0.075rem;
  margin-right: 0.25rem;
}

.task-group-items {
  min-width: 100%;
  position: absolute;
  border-radius: 0.5rem;
  padding: 0.25rem;

  background-color: rgba(0, 0, 0, 0.8);

  border: 0px solid #444444; 
}
 
.task-group-items .task-bar-item {
  background-color: transparent;
  /*background: rgba(255, 255, 255, 0.1);*/
}

.task-group-items .task-bar-item:hover {
  color: #ffc900;
  /*background: rgba(0, 0, 0, 0.01);*/
}

.task-bar-item,
.task-bar-group {
  color: var(--base_font_color);
  background-color: var(--base_task_item_background_color);
  border: var( --base_border_line);
}

.task-bar-item figure,
.task-bar-group figure {
  display: flex;
  align-items: center;
  margin: 0; /* 기본 margin 제거 중요 */
}

.task-bar-item:hover,
.task-bar-group:hover {
  background-color: var(--base_task_item_background_color_b);
}

.task-item-close {
  filter: var(--base_close_icon_filter_invert);
}

.task-item-close:hover {
  background-color: var(--base_task_item_close_background_color_b);
}


.title_bar {
  position: relative;
  background-image: var(--base_viewer_title_bar_background_image);
  /*backdrop-filter: var(--base_backdrop_filter);*/

  border-bottom: 0.075rem solid rgba(255, 255, 255, 0.2);

  background: rgba(0,0,0,0.5);
}

.title_bar * {
  position: relative;
  z-index: 1; /* 글씨/아이콘이 overlay 위로 올라오게 */
}

.footer_panel {
  position: relative;
  /*backdrop-filter: var(--base_backdrop_filter);*/
  background: rgba(0,0,0,0.25);
  background-image: var(--base_viewer_footer_background_image);  
  border-top: 0.075rem solid rgba(255, 255, 255, 0.2);
}

.footer_panel * {
  position: relative;
  z-index: 1; /* 글씨/아이콘이 overlay 위로 올라오게 */
}

#color-theme {
  background-image: var(--base_dark_light_toggle_button);
}

.viewer .header_panel,
.viewer .content_panel {
  background-image: var(--base_viewer_background_image);
  background-repeat: repeat;
  background-size: 5.35rem;
  
  color: var(--base_font_color);
}

.header_panel hr {
  position: relative;
  border: none;
  height: 0.075rem;
  background: var(--base_blog_content_panel_hr);
}

.header_panel hr::after {
  content: "";
  position: absolute;
  top: 0.075rem;
  left: 0;
  right: 0;
  height: 0.075rem;
  background: rgba(0,0,0,0.1);
  opacity: 0.3;
}

.viewer {
  animation: fadeIn 500ms ease forwards;

  overflow: hidden; /* 하이라이트가 밖으로 튀지 않게 */

  backdrop-filter: var(--base_backdrop_filter);

  background:
   linear-gradient(
        to bottom,
        rgba(200, 210, 220, 0.1), /* 연한 회색 + 파랑 살짝 */
        rgba(180, 190, 210, 0.05)   /* 조금 더 푸른 회색 */
    );

  border: var(--base_viewer_border);

  box-shadow: var(--base_viewer_shadow);

  transform: translateY(-4px);
  transition: background 0.1s ease, backdrop-filter 0.1s ease;

  contain: layout paint;
}

.viewer.active {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
}

.viewer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;

  background: radial-gradient(
    120% 60% at 50% 0%,
    rgba(255,255,255,0.4),
    rgba(255,255,255,0.1) 60%,
    transparent 100%
  );

  opacity: 0.6;

  pointer-events: none;
}


/* 세로 모드 (portrait) */
@media (max-aspect-ratio: 1/1) {
  html {
    font-size: 2vw;
  }

  #content-primary {
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 1.5rem;
  }

  #content-secondary {
    display: block;
    gap: 1.5rem;
  }

  #content-tertiary {
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 1.5rem;
  }

  #logo {
    width: 6rem;
  }

  #taskbar {
    grid-template-columns: 1fr 2.5rem 2rem;
  }

  #task-items {
    display: none;
  }

  #photo-zone .about-photo {
    width: 100%; 
    height: auto;
  }

  #profile {  
    width: 100%;
    font-size: 0.9rem;
  }

  #profile .profile-thumbnail {
    width: 3.77rem;
    height: 2.8rem;
  }

  #blog-grid {
    grid-template-columns: 1fr 20rem;
  }

  #viewer-minimize-button {
    display: none;
  }
}
