@import "./common/reset.css";
@import "./common/base.css";

@import "./shell/task-bar-style.css";
@import "./shell/viewer-window-style.css";

@import "./section/about-style.css";
@import "./section/blog-style.css";
@import "./section/photolog-style.css";
@import "./section/links-style.css";

:root {
  --index_layout_column_count : 3;
  --index_layout_column_gap : 1rem;
  --title_bar_background_color : #333333; /*b0c4de*/
  --title_bar_font_color : #bababa; /*#2F2F4F*/
}

header {  
  position:fixed;
  background-color: #1a1a1a;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--index_layout_column_gap);
  width: 100%;
  border : 0px solid #778899;
  text-align: initial;  
  padding-bottom: 1rem;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

footer {
  left : 0;
  right : 0;
  bottom : 0;
  font-weight: bold;
  background-color: #1a1a1a;
  border-top: 1px solid #333333;
}

#logo {
  width: 6rem;
  margin-right: 0.75rem;

  cursor: pointer;
}

.content-primary {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 1rem;
  border-bottom: 0px dashed #444444;
  padding-bottom: 0rem;
}

.content-secondary {
  display: grid;
  grid-template-columns:  1fr 1.5fr 20rem;
  gap: 1rem;
}

.section-block {  
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  text-align: justify;
}

#site-copyright {
  display:flex;
  align-items: center;
  height: 3.5rem;
  color: #cdcdcd;
  justify-content: center;
  margin: auto;
}

#site-copyright a {
  text-decoration: none;
}

.title_box {
  display: flex;
  background-color: var(--title_bar_background_color);
  border: var(--base_border_line);
  border-radius: var(--base_border_radius_medium);
  font-weight: bold;
  color: var(--title_bar_font_color);
  margin: auto;
  margin-bottom: var(--base_margin_size_medium);
  padding: var(--base_margin_size_medium);
  
  transition: background-color 0.3s;
  cursor: pointer;
}
