#taskbar {
    display: grid;
    grid-template-columns: 6rem 1fr 2.5rem 2rem;
    
    min-height: 3rem;
    box-sizing: border-box;

    padding-left: 1rem;
    padding-right: 1rem;
    
    align-items: stretch;
    line-height: 1;
  
    border-bottom: var(--base_border_line);
}

#task-items {
    display: flex;
    flex-direction: row;

    align-self: center;

    margin-top: 0;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.task-bar-item,
.task-bar-group {
    display: flex;
    position: relative;

    width: auto;
    height: auto;
    
    border-radius: 0.5rem;

    padding: 0.6rem;

    color: #cdcdcd;
    font-weight: bold;

    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin-left: 0.1rem;
    
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    
    user-select: none;
}

.task-bar-group .task-group-items .task-bar-item {
    padding-left: 0.5rem;
    padding-right: 0.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    
    justify-content: space-between;
    margin: 0 auto;
}

.task-bar-group .task-bar-item .medium_icon {
    width: 0.8rem;
    height: auto;
}

.task-bar-group .task-bar-item .task-item-close {
    width: 1rem;
    height: 1rem;
}

.task-group-items {    
    left: 0;
    top: 100%;

    overflow: hidden;

    font-size: 0.8rem;

    visibility: hidden;
}

.task-item-close {
    display: flex;

    padding: 0.25rem;    
    margin-left: 0.5rem;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 0.25rem;

    flex-shrink: 0;
}

.task-item-close:hover {    
    background-color: #777777;
    transition: background-color 0.3s;
}

.task-bar-item:hover,
.task-bar-group:hover {
    background-color: #555555;
    transition: background-color 0.3s;

    cursor: pointer;
}
