* {    
    box-sizing: border-box;
}

:root {
  --base_background_color : #cccccc;

  --base_fonts : Roboto, sans-serif, 나눔고딕, Arial;
  --base_font_size : 1.1vw;
  --base_font_light : 1rem;
  --base_font_medium : 1.25rem;
  --base_font_large : 1.5rem;
  --base_font_line_height_light : 1.25;
  --base_font_line_height : 1.6;
  --base_font_color : #cdcdcd;

  --base_layout_background_color: #BFA27A;

  --base_section_width_size : 27.25rem;

  --base_border_line_size : 0.01rem;
  --base_border_radius_light : .25rem;
  --base_border_radius_medium : 0.5rem;
  --base_border_radius_large : 1rem;

  --base_margin_size_tiny : .15rem;
  --base_margin_size_light : .25rem;
  --base_margin_size_medium : 0.5rem;

  --base_small_icon_size : 1rem;
  --base_medium_icon_size : 1.25rem;
  --base_large_icon_size : 1.5rem;

  --base_anchor_tag_hover_color : #ffc900;
  --base_border_line : 0.05rem solid #444444;
  --base_line-color : #999999;
}

::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-thumb { background-color: #666666;}
::-webkit-scrollbar-track { background-color: #333333;}

html {
  display : block;
  background-color: var(--base_background_color);
  background-image: url('/grey.png');
  background-repeat: repeat;
  /*background-size: 86px;*/
  font-size: var(--base_font_size);
  /*font-size: clamp(14px, 2.2vw, 22px);*/
  font-family : var(--base_fonts);
  color: var(--base_font_color);
}

body {
  width: 100%;
  line-height: var(--base_font_line_height);
  background-color: var(--base_layout_background_color);
  background: transparent;
  visibility: hidden;
  font-family: var(--base_fonts);
  user-select: none;
}

body.font-loaded {
  font-family: 'Noto Sans KR', sans-serif;
}

body.ready {
  visibility: visible;
}

input,
textarea,
pre,
code {
  user-select: text;
}

hr {
  border: 1px solid #333333;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

h1 {
  display:flex;
  font-size: var(--base_font_light);
  font-weight: bold;
  padding: 0rem;
  line-height: 1.5rem;
  padding-bottom : var(--base_margin_size_tiny);
}

h2 {
  font-size: var(--base_font_medium);
  color: #222222;
  font-weight: bold;
  padding-top : 0rem;
  padding-bottom : var(--base_margin_size_light);
}

h3 {
  font-size: var(--base_font_large);
  color: #222222;
  font-weight: bold;
  padding-top : 0rem;
  line-height: 1.25;
  padding-bottom : var(--base_margin_size_tiny);
}

a {
  color: inherit;
  text-decoration: none;
  white-space: pre-line;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color : var(--base_anchor_tag_hover_color);
  text-decoration: none;
  transition-duration: 250ms;
}

figcaption {
  display: inline;
}

ul, ol {
  margin-left: 1.75rem;
}

li {
  list-style: disc;
}

.small_icon {
  width: var(--base_small_icon_size);
  height: var(--base_small_icon_size);
  float: left;
  margin-right: 0.1rem;
  margin-top: 0.25rem;
}

.medium_icon {
  display: inline-block;
  vertical-align: middle;
  width: var(--base_medium_icon_size);
  height: var(--base_medium_icon_size);
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;;
}

.north-east-arrow {
  float:right;
  font-size: 0.9rem;
  vertical-align: super;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}