@import "../common/base.css";

:root {  
  --myphoto_width_size: 20rem;
  --myphoto_height_size: 15rem;
}

#photo-zone { 
  opacity: 1;
  transform: translateY(0);
}

.about-photo {
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#photo-zone .about-photo { 
  position: relative;

  width: var(--myphoto_width_size); 
  height: var(--myphoto_height_size);

  border-radius: var(--base_border_radius_medium);
  filter: var(--base_drop_shadow);
}

#profile {  
  width: var(--myphoto_width_size);
  border: var(--base_border_line);

  font-size: 0.9rem;

  background-color: var(--base_box_background_color);
  border-radius: var(--base_border_radius_medium);

  margin-top: var(--base_margin_size_medium);
  padding: 0.5rem;
}

#profile hr {
  border: var(--base_dash_border);
}

#thumbnails {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  line-height: 0;
  margin: 0 auto;
  
  font-size: 0;
  
  border: 0px solid #222222;
}

.profile-thumbnail {
  display: inline-block;

  width: 3.75rem;
  height: 2.8rem;
  
  cursor: pointer;
  
  font-size: initial;
  
  vertical-align: bottom;
  
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.profile-thumbnail:hover {  
  opacity: 0.75;
}