:root {  
  --myphoto_width_size: 20rem;
  --myphoto_height_size: 15rem;
}

#photo-zone { 
  opacity: 1;
  transform: translateY(0);
}

.about-photo {
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}

#photo-zone .about-photo { 
  position: relative;

  width: var(--myphoto_width_size); 
  height: var(--myphoto_height_size);

  border-radius: var(--base_border_radius_medium);
  filter: var(--base_drop_shadow);
}

#profile {  
  width: var(--myphoto_width_size);
  border: var(--base_border_line);

  color: var(--base_font_color);

  font-size: 0.9rem;

  background: var(--base_box_background_color);
  border-radius: var(--base_border_radius_medium);

  margin-top: var(--base_margin_size_large);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

#profile hr {
  border: var(--base_dash_border);
}

#thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  overflow: hidden;

  line-height: 0;
  margin: 0.5rem auto;
  
  font-size: 0;

  border-radius: var(--base_border_radius_medium);
}

#contacts {
  margin-top: 0.25rem;
}

#contacts a:hover {
  text-decoration: var(--base_anchor_tag_hover_text_decoration);
  text-underline-offset: 0.3rem;
}

.profile-thumbnail {
  display: inline-block;

  width: 100%;
  height: 2.8rem;
  
  cursor: pointer;
  
  font-size: initial;
  
  vertical-align: bottom;
  
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.profile-thumbnail:hover {  
  opacity: 0.75;
}