@import "../common/base.css";

:root {  
  --myphoto_width_size: 20rem;
  --myphoto_height_size: 15rem;
}

#photo-zone { 
  opacity: 1;
  transform: translateY(0);
}

.about-photo {
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}


#photo-zone .about-photo { 
  position: relative;

  width: var(--myphoto_width_size); 
  height: var(--myphoto_height_size);

  border-radius: var(--base_border_radius_medium);
  filter: var(--base_drop_shadow);
}

#profile {  
  width: var(--myphoto_width_size);
  border: var(--base_border_line);

  color: var(--base_font_color);

  font-size: 0.9rem;

  background: var(--base_box_background_color);
  border-radius: var(--base_border_radius_medium);

  margin-top: var(--base_margin_size_medium);
  padding: 0.5rem
}

#profile hr {
  border: var(--base_dash_border);
}

#thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  overflow: hidden;

  line-height: 0;
  margin: 0.5rem auto;
  
  font-size: 0;
  
  border: 0px solid red;
  border-radius: var(--base_border_radius_medium);
}

#contacts {
  margin-top: 0.25rem;
}

.profile-thumbnail {
  display: inline-block;

  width: 100%;
  height: 2.8rem;
  
  cursor: pointer;
  
  font-size: initial;
  
  vertical-align: bottom;
  
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.profile-thumbnail:hover {  
  opacity: 0.75;
}

.links_item_list figure {
  display: flex;
  align-items: center;
  margin: 0; /* 기본 margin 제거 중요 */
}