@import "../common/base.css";

.meta    { font-size: 0.9rem; color: var(--base_font_meta_color); }
.title   { font-size: 1rem; color: var(--base_font_color); font-weight: var(--base_font_weight); }
.summary { font-size: 0.95rem; color: var(--base_font_color_b); font-weight: var(--base_font_weight); line-height: 1.4;}

.post-index { line-height: 1; padding: 0.25rem; }
.post-index .meta { font-size: 0.85rem; color: var(--base_font_color_c); }
.post-index .title { font-size: 0.95rem; font-weight: 500; color: var(--base_font_color); line-height: 1.75; }
.post-index .summary { font-size: 0.85rem; color: var(--base_font_color_b); line-height: 1.25; }

.post-index a:hover .title { color: var(--base_anchor_tag_hover_color); } /*#056081*/
.post-index a:hover .summary { color: var(--base_font_color); }

.latest-post { line-height: 1.35; }
.latest-post a:hover .title { color: var(--base_anchor_tag_hover_color); text-decoration: var(--base_anchor_tag_hover_text_decoration); text-underline-offset: 0.3rem;} /*#ffc900*/
.latest-post a:hover .summary { color: var(--base_anchor_tag_hover_color_b);}

.blog-post {
  padding: 1rem;
  line-height: 2;

  font-size: 1rem;
  font-weight: var(--base_font_weight);
}

.blog-post-photo-comment { font-size: 0.9rem; color: var(--base_font_color_b); }
.blog-post .meta { color: var(--base_font_color_c); font-size: 0.9rem; }
.blog-post hr { 
  border-color: #777777; 
}
.blog-post a:hover { color: #ffc900; }

.blog-content-panel { padding: 0; }
.blog-content-panel hr { 
  position: relative;
  border: none;
  height: 0.075rem;
  background: var(--base_blog_content_panel_hr);
}

.blog-content-panel hr::after {
  content: "";
  position: absolute;
  top: 0.075rem;
  left: 0;
  right: 0;
  height: 0.075rem;
  background: rgba(0,0,0,0.1);
  opacity: 0.3;
}

.blog-post-photo-medium {
  width: 40%;
  height:auto;

  border-radius: var(--base_border_radius_large);

  filter: drop-shadow(0 0 1.5rem rgba(96, 94, 87, 0.5));
}

.lifelog-photo-medium {
  width: 100%;
  height:auto;
}

#blog-blog .title {
  line-height: 2;
}

#blog-blog .summary {
  line-height: 1.6;
}

#blog-grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1.5fr 1fr;

  gap: 1.25rem;
  margin-top: 0rem;
}

#blog-archive { margin-top: 1rem; }

#blog-lifelog .latest-post, 
#blog-archive .latest-post {
  line-height: 1.425;
}

#blog-reflection .latest-post {
  line-height: 1.5;
}

#reflection-content {
  text-align: center;
}