@import "../common/base.css";

.meta    { font-size: 0.9rem; color: var(--base_font_color_c); }
.title   { font-size: 1rem; color: var(--base_font_color); font-weight: var(--base_font_weight); }
.summary { font-size: 0.9rem; color: var(--base_font_color_b); font-weight: var(--base_font_weight); }

.post-index { line-height: 1; }
.post-index .meta { font-size: 0.85rem; color: #666666; }
.post-index .title { font-size: 0.95rem; font-weight: bold; color: #444444; line-height: 1.5; }
.post-index .summary { font-size: 0.85rem; color: #555555; line-height: 1rem; }

.post-index a:hover .title { color: #106f80; } /*#056081*/
.post-index a:hover .summary { color: #444444; }

.latest-post { line-height: 1.35; border: 0px solid red; }
.latest-post a:hover .title { color: var(--base_anchor_tag_hover_color); } /*#ffc900*/
.latest-post a:hover .summary { color: var(--base_anchor_tag_hover_color_b); }

.blog-post { padding: 1rem; line-height: 1.75; font-size: 1.1rem; font-weight: 500; }
.blog-post-photo-comment { font-size: 0.9rem; color: #073f3f; }
.blog-post .meta { color: #555555; font-size: 0.9rem; }
.blog-post hr { border-color: #777777; }
.blog-post a:hover { color: #106f80; }

.blog-content-panel { padding: 0; }
.blog-content-panel hr { border: 1px dashed #999999; }

.blog-post-photo-medium {
  width: 20rem;
  height:auto;

  border-radius: var(--base_border_radius_large);

  filter: drop-shadow(0 0 1.5rem rgba(96, 94, 87, 0.5));
}

.lifelog-photo-medium {
  width: 100%;
  height:auto;
}

#blog-blog .title {
  line-height: 2;
}

#blog-grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1.5fr 1fr;

  gap: 1rem;
  margin-top: 0rem;
}

#blog-archive { margin-top: 1rem; }

#blog-lifelog .latest-post, 
#blog-archive .latest-post {
  line-height: 1.3;
}

#blog-reflection .latest-post {
  line-height: 1.35;
}

#reflection-content {
  text-align: center;
}