@import "../common/base.css";

:root {
    --photolog_thumbnail_width_size: 6.5rem;
    --photolog_thumbnail_height_size: 4.5rem;
}

.photolog_thumbnail {
    width: var(--photolog_thumbnail_width_size);
    height: var(--photolog_thumbnail_height_size);

    border-radius: var(--base_border_radius_light);
    
    float: left;
    
    margin-right: 0.3rem;
    
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    
    z-index: 1;
}

.teaser_figure {
    max-height: calc(1.5em * 3); /* 3줄 */
    overflow: hidden;

    word-break: break-all;
    text-align: justify;
    cursor: pointer;
    color: inherit;

    margin-bottom: 0.5rem;
    
    box-sizing: border-box;
}

.teaser_figure .figure-title {
    display: block;

    color: #dddddd;
    font-size: 1rem;
    font-weight: 500;

    line-height: 1.75;
}

.teaser_figure .figure-content {
    font-size: 0.9rem;
    color: #aaaaaa;
    
    line-height: 1.4;
}

/* 마지막 요소만 border 제거 */
.teaser_figure:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.teaser_figure:hover .figure-title {
    color: #ffc900;
}

.teaser_figure:hover .figure-content {
    color: #cdcdcd;
}

.teaser_figure:hover .photolog_thumbnail {
    transform: scale(1.0);
    opacity: 0.8;
}

.photolog-header-panel {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top: 3vh;
}

.photolog_photo {
    width : 100%;
    height : auto;

    margin: 0;

    scroll-snap-align: start;
    scroll-snap-stop: always;  
    scroll-margin-bottom: 6vh;
}

#photolog-index-viewer .figure-title {
    font-size: 0.95rem;
    font-weight: bold;
    color: #444444;

    line-height: 1;

    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

#photolog-index-viewer .figure-content {
    font-size: 0.85rem;
    color: #555555;

    line-height: 1.5;
}

#photolog-index-viewer .teaser_figure:hover .figure-title { 
    color: #106f80; 
}

#photolog-index-viewer .teaser_figure:hover .figure-content { 
    color: #444444; 
}