.viewer {
  display: flex;
  flex-direction: column;
  max-height: 45rem;
  position: absolute;
  background-color: #1a1a1a;
  border: 0px solid #222222;
  color: #cdcdcd;  
  border-radius: 0.5rem;
  pointer-events: auto;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgba(255,255,255,0.04),
    0 2px 4px rgba(0,0,0,0.45);
}

.title_bar {
  background-image: url('/assets/icons/viewer-background.gif');
  position: relative;
  top: 0;  
  background-color: #333333;
  color: #cdcdcd;
  user-select: none;
  padding: 0.75rem;
  font-weight: bold;
  height: 3rem;
  justify-content: center;  
  z-index: 999999;
  flex-shrink: 0;
  cursor: move;
  white-space: nowrap;      /* 줄바꿈 금지 */
  overflow: hidden;         /* 넘치는 부분 숨김 */
  text-overflow: clip;      /* 그냥 잘라냄 */
  border-bottom: 1px solid #444444;
}

#content_area {
  display: flex;  
  flex-direction: column;
  flex: 1;
  font-weight: 500;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #1a1a1a;
  overflow-y: auto;
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.header_panel {
  background-image: url('/assets/icons/viewer-background-light.gif');
  color: #3d3d3d;
  user-select: none;  
  padding : 0.75rem;  
  /*scroll-snap-align: start;*/
}

.header_panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.05);
    pointer-events: none;
}

.header_panel hr {
  border: 1px solid #bababa;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
} 

.content_panel {
  background-image: url('/assets/icons/viewer-background-light.gif');
  background-color: #2a2a2a;
  color: #2e2e2e;
  font-size: 1.1rem;
  line-height: 1.75;
  text-align: justify;
  overflow-wrap: anywhere;
  user-select: none;
}

.footer_panel {
  background-image: url('/assets/icons/viewer-background.gif');
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: #222222;
  color: #dedede;
  font-weight: bold;
  margin: auto;
  /*scroll-snap-align : center;*/
  border-top: 1px solid #444444;
}

#window_button_container {
  display: flex;
  float:right;
  top:0;
  bottom:0;
  justify-content: space-between;
}

.window_button {
  width:1.5rem;
  height: 1.5rem;
  padding:0.25rem;  
  cursor:pointer;
}

.window_button:hover {
  background-color: #555555;
  border-radius: 25%;
}