.viewer {
  animation: fadeIn 500ms ease forwards;

  overflow: hidden; /* 하이라이트가 밖으로 튀지 않게 */

  backdrop-filter: var(--base_backdrop_filter);
  background: var(--base_viewer_background_gradient);

  border: var(--base_viewer_border);
  box-shadow: var(--base_viewer_shadow);
}

.title_bar {
  position: relative;
  border-bottom: 0.075rem solid rgba(255, 255, 255, 0.15);
  background: var(--base_viewer_title_bar_background); 
  background-image: var(--base_viewer_title_bar_background_image);
}

.title_bar.active {
  background: var(--base_viewer_active_overay);
  background-image: var(--base_viewer_title_bar_background_image);
}

.footer_panel {
  position: relative;

  background: rgba(0,0,0,0.5);
  background-image: var(--base_viewer_footer_background_image);
  border-top: 0.075rem solid rgba(255, 255, 255, 0.1);
}

.header_panel hr {
  position: relative;
  border: none;
  height: 0.075rem;
  background: var(--base_blog_content_panel_hr);
}

.header_panel hr::after {
  content: "";
  position: absolute;
  top: 0.075rem;
  left: 0;
  right: 0;
  height: 0.075rem;
  background: rgba(0,0,0,0.1);
  opacity: 0.3;
}

.viewer .header_panel,
.viewer .content_panel {
  background-image: var(--base_viewer_background_image);
  background-size: var(--base_background_size);
  background-repeat: repeat;
}