/* 태블릿 */
@media (max-width: 1024px) {
    body { font-size: 16px; }    
    #profile-photo { display: none; }

    .academic-research-photo,
    .teaching-activity-photo {
        width: 12.5rem;
        height: auto;
    }

    #gallery-items {    
        grid-template-columns: 7fr 3fr;       
    }

    .thumbnail-container {    
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    body { font-size: 16px; }    
    #profile-photo { display: none; }

    .experience-timeline-item {
        gap: 0.5rem;                  /* year와 content 사이 간격 */

        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .content {
        flex: 1;                            /* 남은 공간 차지 */

        border-left: 2px solid #666666;
        padding-left: 1rem;               /* border와 텍스트 간격 */
        margin-left: 0.5rem;

        line-height: 2.5rem;
    }

    .academic-research-photo,
    .teaching-activity-photo {
        width: 8rem;
        height: auto;
    }

    .works-personal-project-image {
        width: 14rem;
    }

    .gallery-photo {
        height: 6.5rem;
    }

    #gallery-items {    
        display: block;       
    }

    #gallery-items .thumbnail-container {                   
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 10rem;
    }

    #gallery-thumbnail-list {
        margin-top: 2rem;
        height: 22rem;
    }
}